.slide_right{
  animation: .3s ease-in-out forwards;
  animation-name: slide-right;
  transition: all .3s ease-in-out;
}

@keyframes slide-right {
  0% {margin-left: 100%;}
  100%{margin-left: 40%;}
}