@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Segoe;
    src: url('/public/fonts/Segoe\ UI.ttf');
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 48px;
    font-weight: bolder;
}

h2{
    font-size: 18px;
    font-weight: bolder;
}

h3{
    font-size: 24px;
    font-weight: 400;
}

p{
    font-size: 16px;
    font-weight: normal;
}

button{
    font-weight: bolder;
}

input:focus, textarea:focus{
    outline: none;
}

@media screen and (min-width: 640px) {
    p{
        font-size: 18px;
        line-height: 40px;
    }

    h2{
        font-size: 25px;
    }

    h3{
        font-size: 38px;
    }

    h1{
        font-size: 73px;
    }
}

@media screen and (min-width: 1024px) {

    p{
        font-size: 16px;
        line-height: 25px;
    }

    h2{
        font-size: 18px;
    }

    h3{
        font-size: 24px;
    }

    h1{
        font-size: 48px;
    }
}


/* BTN MOBIL AND TABLET */
.main-nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all .3s ease-in-out;
    z-index: 10;
}

.main-nav.show {
    margin-left: 0;
}

.button-menu {
    z-index: 20;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 8px;
    position: relative;
    background: white;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
}

.button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
}
  
.button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
}
  
.button-menu.close span:nth-child(3) {
    display: none;
}