@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Segoe;
    src: url('/public/fonts/Segoe\ UI.ttf');
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 48px;
    font-weight: bolder;
}

h2{
    font-size: 18px;
    font-weight: bolder;
}

h3{
    font-size: 24px;
    font-weight: 400;
}

p{
    font-size: 16px;
    font-weight: normal;
}

button{
    font-weight: bolder;
}

input:focus, textarea:focus{
    outline: none;
}

@media screen and (min-width: 640px) {
    p{
        font-size: 18px;
        line-height: 40px;
    }

    h2{
        font-size: 25px;
    }

    h3{
        font-size: 38px;
    }

    h1{
        font-size: 73px;
    }
}

@media screen and (min-width: 1024px) {

    p{
        font-size: 16px;
        line-height: 25px;
    }

    h2{
        font-size: 18px;
    }

    h3{
        font-size: 24px;
    }

    h1{
        font-size: 48px;
    }
}